<div>
	<iframe src="http://livestream.com/accounts/<%= account %>/events/<%= event %>/player?width=<%= width %>&height=<%= height %>&amp;autoPlay=true&amp;mute=false" width="<%= width %>" height="<%= height %>" frameborder="0" scrolling="no"> </iframe>
</div>
